<div class="profile">
    {{- with site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl -}}
            {{- $img := "" }}
            {{- $hoverImg := "" }}
            {{- if not (urls.Parse .imageUrl).IsAbs }}
                {{- $img = resources.Get .imageUrl }}
            {{- end }}
            {{- if not (urls.Parse .hoverImageUrl).IsAbs }}
                {{- $hoverImg = resources.Get .hoverImageUrl }}
            {{- end }}
            {{- if $img }}
                <div class="profile-image-container">
                    <div class="profile-image">
                        <div class="front">
                            <img draggable="false" src="{{ $img.Permalink }}" alt="{{ .imageTitle | default "profile image" }}" title="{{ .imageTitle }}"
                                height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
                        </div>
                        <div class="back">
                            <img draggable="false" src="{{ $hoverImg.Permalink }}" alt="{{ .imageTitle | default "profile image" }}" title="{{ .imageTitle }}"
                                height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
                        </div>
                    </div>
                </div>
            {{- else }}
                <div class="profile-image-container">
                    <div class="profile-image">
                        <div class="front">
                            <img draggable="false" src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default "profile image" }}" title="{{ .imageTitle }}"
                                height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
                        </div>
                        <div class="back">
                            <img draggable="false" src="{{ .hoverImageUrl | absURL }}" alt="{{ .imageTitle | default "profile image" }}" title="{{ .imageTitle }}"
                                height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
                        </div>
                    </div>
                </div>
            {{- end }}
        {{- end }}
        <div class="title-social-container">
            <h1>{{ .title | default site.Title | markdownify }}</h1>
            {{- partial "social_icons.html" -}}
        </div>
        <!-- <h1>{{ .title | default site.Title | markdownify }}</h1> -->
        <!-- <span>{{ .subtitle | markdownify }}</span> -->
        <span>{{ readFile "subtitle.md" | markdownify }}</span>
        <!-- {{- partial "social_icons.html" -}} -->

        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name }}">
                <span class="button-inner">
                    {{ .name }}
                    {{- if (findRE "://" .url) }}&nbsp;
                    <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="14" width="14">
                        <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                        <path d="M15 3h6v6"></path>
                        <path d="M10 14L21 3"></path>
                    </svg>
                    {{- end }}
                </span>
            </a>
            {{- end }}

            


        </div>
        {{- end }}
        
        <div class="post-content">
            {{ readFile "recent_news.md" | markdownify }}
        </div>

    </div>
    {{- end}}
</div>
